{"swagger":"2.0","info":{"version":"v2","title":"PracticePanther KISS Api","description":""},"host":"app.practicepanther.com","schemes":["https"],"paths":{"/api/v2/accounts/{id}":{"get":{"tags":["Accounts"],"operationId":"Accounts_GetAccount","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"},"examples":{"application/json":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"John Doe","number":123,"company_name":"My Company Name","address_street_1":"10800","address_street_2":"Biscayne Blvd","address_city":"Miami","address_state":"Florida","address_country":"United States","address_zip_code":"33161","company_custom_field_values":[{"custom_field_ref":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"Jane Doe"},"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00","notes":"These are my notes...","primary_contact":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","account_ref":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"Jane Doe"},"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"},"other_contacts":[{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","account_ref":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"Jane Doe"},"id":"79f12433-4c9e-490c-bbcb-f7c0726005b7","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"}]}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/accounts":{"get":{"tags":["Accounts"],"operationId":"Accounts_GetAccounts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"assigned_to_user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"search_text","in":"query","required":false,"type":"string"},{"name":"account_tag","in":"query","required":false,"type":"string"},{"name":"apiConsumer","in":"query","required":false,"type":"string","enum":["Unknown","Zapier"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"},"examples":{"application/json":[{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"John Doe","number":123,"company_name":"My Company Name","address_street_1":"10800","address_street_2":"Biscayne Blvd","address_city":"Miami","address_state":"Florida","address_country":"United States","address_zip_code":"33161","company_custom_field_values":[{"custom_field_ref":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"Jane Doe"},"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00","notes":"These are my notes...","primary_contact":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","account_ref":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"Jane Doe"},"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"},"other_contacts":[{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","account_ref":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"Jane Doe"},"id":"c6d8900f-d137-406e-bee3-e0ef8bf08f64","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"}]},{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"John Doe","number":123,"company_name":"My Company Name","address_street_1":"10800","address_street_2":"Biscayne Blvd","address_city":"Miami","address_state":"Florida","address_country":"United States","address_zip_code":"33161","company_custom_field_values":[{"custom_field_ref":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"Jane Doe"},"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00","notes":"These are my notes...","primary_contact":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","account_ref":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"Jane Doe"},"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"},"other_contacts":[{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","account_ref":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"Jane Doe"},"id":"c68cb5b0-17a2-4f9d-83d5-032723a7fe87","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"}]}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Accounts"],"operationId":"Accounts_PutAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Account"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"},"examples":{"application/json":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"John Doe","number":123,"company_name":"My Company Name","address_street_1":"10800","address_street_2":"Biscayne Blvd","address_city":"Miami","address_state":"Florida","address_country":"United States","address_zip_code":"33161","company_custom_field_values":[{"custom_field_ref":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"Jane Doe"},"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00","notes":"These are my notes...","primary_contact":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","account_ref":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"Jane Doe"},"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"},"other_contacts":[{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","account_ref":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"Jane Doe"},"id":"25e88c53-bc3a-47e1-b5e4-ad372b05c4d9","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"}]}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Accounts"],"operationId":"Accounts_PostAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Account"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"},"examples":{"application/json":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"John Doe","number":123,"company_name":"My Company Name","address_street_1":"10800","address_street_2":"Biscayne Blvd","address_city":"Miami","address_state":"Florida","address_country":"United States","address_zip_code":"33161","company_custom_field_values":[{"custom_field_ref":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"Jane Doe"},"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00","notes":"These are my notes...","primary_contact":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","account_ref":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"Jane Doe"},"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"},"other_contacts":[{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","account_ref":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"Jane Doe"},"id":"aae8f8c9-6e4f-44f0-bd08-9bb4ad9d6770","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"}]}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Accounts"],"operationId":"Accounts_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"},"examples":{"application/json":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"John Doe","number":123,"company_name":"My Company Name","address_street_1":"10800","address_street_2":"Biscayne Blvd","address_city":"Miami","address_state":"Florida","address_country":"United States","address_zip_code":"33161","company_custom_field_values":[{"custom_field_ref":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"Jane Doe"},"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00","notes":"These are my notes...","primary_contact":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","account_ref":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"Jane Doe"},"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"},"other_contacts":[{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","account_ref":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"Jane Doe"},"id":"efd4fe98-373a-411b-8b38-ab75db4ad8ab","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"}]}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/bankaccounts/{id}":{"get":{"tags":["BankAccounts"],"operationId":"BankAccounts_GetBankAccount","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccount"},"examples":{"application/json":{"id":"6dcf96f4-8d40-462b-9eea-dc01d083ae97","type":"Operating","name":"Bank of America"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/bankaccounts":{"get":{"tags":["BankAccounts"],"operationId":"BankAccounts_GetBankAccounts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccount"},"examples":{"application/json":{"id":"f6428aaa-d0e4-4d74-b489-0e720526653b","type":"Operating","name":"Bank of America"}}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["BankAccounts"],"operationId":"BankAccounts_PutBankAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/BankAccount"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccount"},"examples":{"application/json":{"id":"31876157-d02a-4700-916f-9e2afdf2d589","type":"Operating","name":"Bank of America"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["BankAccounts"],"operationId":"BankAccounts_PostBankAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/BankAccount"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccount"},"examples":{"application/json":{"id":"2e58e4c8-f22c-439e-b30f-5e880d788c72","type":"Operating","name":"Bank of America"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["BankAccounts"],"operationId":"BankAccounts_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Matter"},"examples":{"application/json":{"id":"dfe23a78-9142-459d-8b6b-087002c9814b","type":"Operating","name":"Bank of America"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/calllogs/{id}":{"get":{"tags":["CallLogs"],"operationId":"CallLogs_GetCallLog","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CallLog"},"examples":{"application/json":{"id":"606c9df6-20fc-47dd-8f92-3119faf93c17","account_ref":{"id":"606c9df6-20fc-47dd-8f92-3119faf93c17","display_name":"Jane Doe"},"matter_ref":{"id":"606c9df6-20fc-47dd-8f92-3119faf93c17","display_name":"My Matter"},"subject":"Call Log subject...","duration":1.0,"notes":"These are my notes...","date":"2026-04-04T00:00:00","call_direction":"Inbound","assigned_to_users":[{"id":"606c9df6-20fc-47dd-8f92-3119faf93c17","display_name":"Jon Doe","email_address":"email_address1"}],"tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/calllogs":{"get":{"tags":["CallLogs"],"operationId":"CallLogs_GetCallLogs","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"assigned_to_user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"matter_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_to","in":"query","required":false,"type":"string","format":"date-time"},{"name":"activity_tag","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CallLog"},"examples":{"application/json":[{"id":"c60381ad-6485-4eeb-8332-fae51d392e72","account_ref":{"id":"c60381ad-6485-4eeb-8332-fae51d392e72","display_name":"Jane Doe"},"matter_ref":{"id":"c60381ad-6485-4eeb-8332-fae51d392e72","display_name":"My Matter"},"subject":"Call Log subject...","duration":1.0,"notes":"These are my notes...","date":"2026-04-04T00:00:00","call_direction":"Inbound","assigned_to_users":[{"id":"c60381ad-6485-4eeb-8332-fae51d392e72","display_name":"Jon Doe","email_address":"email_address1"}],"tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"de5c186f-8611-4aa7-98fa-7bf882dd4210","account_ref":{"id":"de5c186f-8611-4aa7-98fa-7bf882dd4210","display_name":"Jane Doe"},"matter_ref":{"id":"de5c186f-8611-4aa7-98fa-7bf882dd4210","display_name":"My Matter"},"subject":"Call Log subject...","duration":1.0,"notes":"These are my notes...","date":"2026-04-04T00:00:00","call_direction":"Inbound","assigned_to_users":[{"id":"de5c186f-8611-4aa7-98fa-7bf882dd4210","display_name":"Jon Doe","email_address":"email_address1"}],"tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["CallLogs"],"operationId":"CallLogs_PutCallLog","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/CallLog"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CallLog"},"examples":{"application/json":{"id":"4b40274e-9a20-4809-ac1c-cf932bd6b90d","account_ref":{"id":"4b40274e-9a20-4809-ac1c-cf932bd6b90d","display_name":"Jane Doe"},"matter_ref":{"id":"4b40274e-9a20-4809-ac1c-cf932bd6b90d","display_name":"My Matter"},"subject":"Call Log subject...","duration":1.0,"notes":"These are my notes...","date":"2026-04-04T00:00:00","call_direction":"Inbound","assigned_to_users":[{"id":"4b40274e-9a20-4809-ac1c-cf932bd6b90d","display_name":"Jon Doe","email_address":"email_address1"}],"tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["CallLogs"],"operationId":"CallLogs_PostCallLog","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/CallLog"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CallLog"},"examples":{"application/json":{"id":"d35a7b93-a653-4668-b087-91e8da886b3b","account_ref":{"id":"d35a7b93-a653-4668-b087-91e8da886b3b","display_name":"Jane Doe"},"matter_ref":{"id":"d35a7b93-a653-4668-b087-91e8da886b3b","display_name":"My Matter"},"subject":"Call Log subject...","duration":1.0,"notes":"These are my notes...","date":"2026-04-04T00:00:00","call_direction":"Inbound","assigned_to_users":[{"id":"d35a7b93-a653-4668-b087-91e8da886b3b","display_name":"Jon Doe","email_address":"email_address1"}],"tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["CallLogs"],"operationId":"CallLogs_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CallLog"},"examples":{"application/json":{"id":"cc4e3786-e4c6-4908-a683-7010d11b6cad","account_ref":{"id":"cc4e3786-e4c6-4908-a683-7010d11b6cad","display_name":"Jane Doe"},"matter_ref":{"id":"cc4e3786-e4c6-4908-a683-7010d11b6cad","display_name":"My Matter"},"subject":"Call Log subject...","duration":1.0,"notes":"These are my notes...","date":"2026-04-04T00:00:00","call_direction":"Inbound","assigned_to_users":[{"id":"cc4e3786-e4c6-4908-a683-7010d11b6cad","display_name":"Jon Doe","email_address":"email_address1"}],"tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/contacts/{id}":{"get":{"tags":["Contacts"],"operationId":"Contacts_GetContact","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Contact"},"examples":{"application/json":{"id":"bcd09a99-a2bd-4966-b51b-5d8b44ee1553","account_ref":{"id":"bcd09a99-a2bd-4966-b51b-5d8b44ee1553","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"bcd09a99-a2bd-4966-b51b-5d8b44ee1553","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"bcd09a99-a2bd-4966-b51b-5d8b44ee1553","display_name":"Jane Doe"},"id":"bcd09a99-a2bd-4966-b51b-5d8b44ee1553","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/contacts":{"get":{"tags":["Contacts"],"operationId":"Contacts_GetContacts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"assigned_to_user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"status","in":"query","required":false,"type":"string","enum":["Active","Archived"]},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"search_text","in":"query","required":false,"type":"string"},{"name":"account_tag","in":"query","required":false,"type":"string"},{"name":"company_name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Contact"},"examples":{"application/json":[{"id":"7ac93d3e-8dfa-4b62-bf57-585a681355fc","account_ref":{"id":"7ac93d3e-8dfa-4b62-bf57-585a681355fc","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"7ac93d3e-8dfa-4b62-bf57-585a681355fc","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"7ac93d3e-8dfa-4b62-bf57-585a681355fc","display_name":"Jane Doe"},"id":"7ac93d3e-8dfa-4b62-bf57-585a681355fc","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"},{"id":"c05c382f-51c3-4e87-90d8-fbd28ebce275","account_ref":{"id":"c05c382f-51c3-4e87-90d8-fbd28ebce275","display_name":"Jane Doe"},"is_primary_contact":false,"display_name":"Jake Doe","first_name":"Jake","middle_name":"Joe","last_name":"Doe","phone_mobile":"202-555-0197","phone_home":"202-555-0171","phone_fax":"202-555-0161","phone_work":"202-555-0101","email":"myemail@john-doe.cf","notes":"These are my notes...","custom_field_values":[{"custom_field_ref":{"id":"c05c382f-51c3-4e87-90d8-fbd28ebce275","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"c05c382f-51c3-4e87-90d8-fbd28ebce275","display_name":"Jane Doe"},"id":"c05c382f-51c3-4e87-90d8-fbd28ebce275","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"status":"Active"}]}}},"security":[{"oauth2":["full"]}]}},"/api/v2/customfields/company":{"get":{"tags":["CustomFields"],"operationId":"CustomFields_GetCustomFieldsForAccount","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomField"},"examples":{"application/json":[{"id":"b5e261d2-ac95-4789-8d4c-6ada0f9d3810","label":"My Label","value_type":"TextBox","dropdown_list_values":"Custom Field 1, Custom Field 2, Custom Field 3","help_text":"This is the help text for this custom field","tooltip":"This is the tooltip for this custom field"},{"id":"24385128-d948-4bb3-8393-a63de5faf424","label":"My Label","value_type":"TextBox","dropdown_list_values":"Custom Field 1, Custom Field 2, Custom Field 3","help_text":"This is the help text for this custom field","tooltip":"This is the tooltip for this custom field"}]}}},"security":[{"oauth2":["full"]}]}},"/api/v2/customfields/matter":{"get":{"tags":["CustomFields"],"operationId":"CustomFields_GetCustomFieldsForMatter","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomField"},"examples":{"application/json":[{"id":"4adfa3ef-012c-44cd-8563-f2660611f852","label":"My Label","value_type":"TextBox","dropdown_list_values":"Custom Field 1, Custom Field 2, Custom Field 3","help_text":"This is the help text for this custom field","tooltip":"This is the tooltip for this custom field"},{"id":"f29f83c6-4de2-4831-b7bb-9c6d7a1d233a","label":"My Label","value_type":"TextBox","dropdown_list_values":"Custom Field 1, Custom Field 2, Custom Field 3","help_text":"This is the help text for this custom field","tooltip":"This is the tooltip for this custom field"}]}}},"security":[{"oauth2":["full"]}]}},"/api/v2/customfields/contact":{"get":{"tags":["CustomFields"],"operationId":"CustomFields_GetCustomFieldsForContact","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomField"},"examples":{"application/json":[{"id":"3442a018-6527-4d00-acb4-97aff7c382cc","label":"My Label","value_type":"TextBox","dropdown_list_values":"Custom Field 1, Custom Field 2, Custom Field 3","help_text":"This is the help text for this custom field","tooltip":"This is the tooltip for this custom field"},{"id":"11dee59b-9557-4983-96ab-0c98e61c27e3","label":"My Label","value_type":"TextBox","dropdown_list_values":"Custom Field 1, Custom Field 2, Custom Field 3","help_text":"This is the help text for this custom field","tooltip":"This is the tooltip for this custom field"}]}}},"security":[{"oauth2":["full"]}]}},"/api/v2/customfields/{id}":{"get":{"tags":["CustomFields"],"operationId":"CustomFields_GetCustomField","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomField"},"examples":{"application/json":{"id":"d1b79faa-0683-4532-8e51-4bc1bc23fec9","label":"My Label","value_type":"TextBox","dropdown_list_values":"Custom Field 1, Custom Field 2, Custom Field 3","help_text":"This is the help text for this custom field","tooltip":"This is the tooltip for this custom field"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/emails/{id}":{"get":{"tags":["Emails"],"operationId":"Emails_GetEmail","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Email"},"examples":{"application/json":{"id":"17e5f176-35ed-45a3-9eee-106544eba813","subject":"Email subject","cc":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"to":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"from":{"address":"myemail@john-doe.cf","display_name":"John Doe"},"body_text":"Email Body","body_html":"body_html1","external_message_id":"external_message_id1","external_thread_id":"external_thread_id1","account_ref":{"id":"17e5f176-35ed-45a3-9eee-106544eba813","display_name":"Jane Doe"},"matter_ref":{"id":"17e5f176-35ed-45a3-9eee-106544eba813","display_name":"My Matter"},"date":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/emails":{"get":{"tags":["Emails"],"operationId":"Emails_GetEmails","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"assigned_to_user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"matter_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"activity_tag","in":"query","required":false,"type":"string"},{"name":"external_message_id","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Email"},"examples":{"application/json":{"id":"d8a19fb9-9c4b-45fd-be4b-8e489cd25449","subject":"Email subject","cc":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"to":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"from":{"address":"myemail@john-doe.cf","display_name":"John Doe"},"body_text":"Email Body","body_html":"body_html1","external_message_id":"external_message_id1","external_thread_id":"external_thread_id1","account_ref":{"id":"d8a19fb9-9c4b-45fd-be4b-8e489cd25449","display_name":"Jane Doe"},"matter_ref":{"id":"d8a19fb9-9c4b-45fd-be4b-8e489cd25449","display_name":"My Matter"},"date":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Emails"],"operationId":"Emails_PutAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Email"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Email"},"examples":{"application/json":{"id":"8f775436-8d86-45d5-8928-7a6bf1ddaa0a","subject":"Email subject","cc":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"to":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"from":{"address":"myemail@john-doe.cf","display_name":"John Doe"},"body_text":"Email Body","body_html":"body_html1","external_message_id":"external_message_id1","external_thread_id":"external_thread_id1","account_ref":{"id":"8f775436-8d86-45d5-8928-7a6bf1ddaa0a","display_name":"Jane Doe"},"matter_ref":{"id":"8f775436-8d86-45d5-8928-7a6bf1ddaa0a","display_name":"My Matter"},"date":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Emails"],"operationId":"Emails_PostEmail","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Email"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Email"},"examples":{"application/json":{"id":"ce8245e7-be5a-4017-a9c6-be94d4c60b94","subject":"Email subject","cc":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"to":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"from":{"address":"myemail@john-doe.cf","display_name":"John Doe"},"body_text":"Email Body","body_html":"body_html1","external_message_id":"external_message_id1","external_thread_id":"external_thread_id1","account_ref":{"id":"ce8245e7-be5a-4017-a9c6-be94d4c60b94","display_name":"Jane Doe"},"matter_ref":{"id":"ce8245e7-be5a-4017-a9c6-be94d4c60b94","display_name":"My Matter"},"date":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Emails"],"operationId":"Emails_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Email"},"examples":{"application/json":{"id":"c898d1fd-a572-4e9a-85e7-c76b48c23b9f","subject":"Email subject","cc":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"to":[{"address":"myemail@john-doe.cf","display_name":"John Doe"}],"from":{"address":"myemail@john-doe.cf","display_name":"John Doe"},"body_text":"Email Body","body_html":"body_html1","external_message_id":"external_message_id1","external_thread_id":"external_thread_id1","account_ref":{"id":"c898d1fd-a572-4e9a-85e7-c76b48c23b9f","display_name":"Jane Doe"},"matter_ref":{"id":"c898d1fd-a572-4e9a-85e7-c76b48c23b9f","display_name":"My Matter"},"date":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/events/{id}":{"get":{"tags":["Events"],"operationId":"Events_GetEvent","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"},"examples":{"application/json":{"id":"032cf694-daa7-4492-bd35-c72ad608deb5","account_ref":{"id":"032cf694-daa7-4492-bd35-c72ad608deb5","display_name":"Jane Doe"},"matter_ref":{"id":"032cf694-daa7-4492-bd35-c72ad608deb5","display_name":"My Matter"},"subject":"Event Subject...","location":"Event Location","notes":"These are my notes...","is_all_day":false,"start_date_time":"2026-04-04T00:00:00","end_date_time":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/events":{"get":{"tags":["Events"],"operationId":"Events_GetEvents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"assigned_to_user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"matter_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_to","in":"query","required":false,"type":"string","format":"date-time"},{"name":"activity_tag","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"},"examples":{"application/json":{"id":"a0e94bfa-7309-4d11-b4b8-2f4ec14d9852","account_ref":{"id":"a0e94bfa-7309-4d11-b4b8-2f4ec14d9852","display_name":"Jane Doe"},"matter_ref":{"id":"a0e94bfa-7309-4d11-b4b8-2f4ec14d9852","display_name":"My Matter"},"subject":"Event Subject...","location":"Event Location","notes":"These are my notes...","is_all_day":false,"start_date_time":"2026-04-04T00:00:00","end_date_time":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Events"],"operationId":"Events_PutAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Event"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"},"examples":{"application/json":{"id":"88bf44fe-bb6d-44c2-92d9-ebf59d204b79","account_ref":{"id":"88bf44fe-bb6d-44c2-92d9-ebf59d204b79","display_name":"Jane Doe"},"matter_ref":{"id":"88bf44fe-bb6d-44c2-92d9-ebf59d204b79","display_name":"My Matter"},"subject":"Event Subject...","location":"Event Location","notes":"These are my notes...","is_all_day":false,"start_date_time":"2026-04-04T00:00:00","end_date_time":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Events"],"operationId":"Events_PostAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Event"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"},"examples":{"application/json":{"id":"62ad7af3-5f71-4a76-bf5a-e8dc4e9d67f1","account_ref":{"id":"62ad7af3-5f71-4a76-bf5a-e8dc4e9d67f1","display_name":"Jane Doe"},"matter_ref":{"id":"62ad7af3-5f71-4a76-bf5a-e8dc4e9d67f1","display_name":"My Matter"},"subject":"Event Subject...","location":"Event Location","notes":"These are my notes...","is_all_day":false,"start_date_time":"2026-04-04T00:00:00","end_date_time":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Events"],"operationId":"Events_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"},"examples":{"application/json":{"id":"2ff3effd-d5f1-43d5-ad4a-4ea76aba01d4","account_ref":{"id":"2ff3effd-d5f1-43d5-ad4a-4ea76aba01d4","display_name":"Jane Doe"},"matter_ref":{"id":"2ff3effd-d5f1-43d5-ad4a-4ea76aba01d4","display_name":"My Matter"},"subject":"Event Subject...","location":"Event Location","notes":"These are my notes...","is_all_day":false,"start_date_time":"2026-04-04T00:00:00","end_date_time":"2026-04-04T00:00:00","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/ExpenseCategories/{id}":{"get":{"tags":["ExpenseCategories"],"operationId":"ExpenseCategories_GetExpenseCategory","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExpenseCategory"},"examples":{"application/json":{"id":"923a6907-862b-47cf-8f45-dfc59df81d36","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/ExpenseCategories":{"get":{"tags":["ExpenseCategories"],"operationId":"ExpenseCategories_GetExpenseCategories","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExpenseCategory"},"examples":{"application/json":[{"id":"1650e634-b639-4665-b30e-dbb357a9c88a","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"5d97912d-6d68-4a1c-8f18-29a8a169df57","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["ExpenseCategories"],"operationId":"ExpenseCategories_PutExpenseCategory","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/ExpenseCategory"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExpenseCategory"},"examples":{"application/json":{"id":"179a76c6-6da7-46e0-aa26-a8c2fed3c9f0","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["ExpenseCategories"],"operationId":"ExpenseCategories_PostExpenseCategory","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/ExpenseCategory"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExpenseCategory"},"examples":{"application/json":{"id":"cf6639a2-4b0c-49f9-8534-fb8598398a9a","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["ExpenseCategories"],"operationId":"ExpenseCategories_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExpenseCategory"},"examples":{"application/json":{"id":"ff24f3ec-ab21-43a2-aba3-276c9b158358","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/Expenses/{id}":{"get":{"tags":["Expenses"],"operationId":"Expenses_GetExpense","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Expense"},"examples":{"application/json":[{"id":"7d402479-c2e7-43a9-9e84-d72bfa8ff239","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":2.0,"price":100.0,"amount":200.0,"description":"This is my expense","private_notes":"These are my notes...","account_ref":{"id":"7d402479-c2e7-43a9-9e84-d72bfa8ff239","display_name":"Jane Doe"},"matter_ref":{"id":"7d402479-c2e7-43a9-9e84-d72bfa8ff239","display_name":"My Matter"},"billed_by_user_ref":{"id":"7d402479-c2e7-43a9-9e84-d72bfa8ff239","display_name":"Jon Doe","email_address":"email_address1"},"expense_category_ref":{"id":"7d402479-c2e7-43a9-9e84-d72bfa8ff239","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},"task_code":"task_code1","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"fa669aa4-b868-4c1f-ac37-ab3b211a5e1f","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":2.0,"price":100.0,"amount":200.0,"description":"This is my expense","private_notes":"These are my notes...","account_ref":{"id":"fa669aa4-b868-4c1f-ac37-ab3b211a5e1f","display_name":"Jane Doe"},"matter_ref":{"id":"fa669aa4-b868-4c1f-ac37-ab3b211a5e1f","display_name":"My Matter"},"billed_by_user_ref":{"id":"fa669aa4-b868-4c1f-ac37-ab3b211a5e1f","display_name":"Jon Doe","email_address":"email_address1"},"expense_category_ref":{"id":"fa669aa4-b868-4c1f-ac37-ab3b211a5e1f","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},"task_code":"task_code1","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]}},"/api/v2/Expenses":{"get":{"tags":["Expenses"],"operationId":"Expenses_GetExpensess","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"matter_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"billed_by_user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"expense_category_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_to","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Expense"},"examples":{"application/json":[{"id":"6d401dbe-4122-43ff-85d2-1c7fcd4dae92","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":2.0,"price":100.0,"amount":200.0,"description":"This is my expense","private_notes":"These are my notes...","account_ref":{"id":"6d401dbe-4122-43ff-85d2-1c7fcd4dae92","display_name":"Jane Doe"},"matter_ref":{"id":"6d401dbe-4122-43ff-85d2-1c7fcd4dae92","display_name":"My Matter"},"billed_by_user_ref":{"id":"6d401dbe-4122-43ff-85d2-1c7fcd4dae92","display_name":"Jon Doe","email_address":"email_address1"},"expense_category_ref":{"id":"6d401dbe-4122-43ff-85d2-1c7fcd4dae92","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},"task_code":"task_code1","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"283c05e5-0f8b-4cdb-8827-e128fba48e4e","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":2.0,"price":100.0,"amount":200.0,"description":"This is my expense","private_notes":"These are my notes...","account_ref":{"id":"283c05e5-0f8b-4cdb-8827-e128fba48e4e","display_name":"Jane Doe"},"matter_ref":{"id":"283c05e5-0f8b-4cdb-8827-e128fba48e4e","display_name":"My Matter"},"billed_by_user_ref":{"id":"283c05e5-0f8b-4cdb-8827-e128fba48e4e","display_name":"Jon Doe","email_address":"email_address1"},"expense_category_ref":{"id":"283c05e5-0f8b-4cdb-8827-e128fba48e4e","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},"task_code":"task_code1","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Expenses"],"operationId":"Expenses_PutAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Expense"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Expense"},"examples":{"application/json":{"id":"49220c94-8994-4205-90f4-c0a0245dc5c8","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":2.0,"price":100.0,"amount":200.0,"description":"This is my expense","private_notes":"These are my notes...","account_ref":{"id":"49220c94-8994-4205-90f4-c0a0245dc5c8","display_name":"Jane Doe"},"matter_ref":{"id":"49220c94-8994-4205-90f4-c0a0245dc5c8","display_name":"My Matter"},"billed_by_user_ref":{"id":"49220c94-8994-4205-90f4-c0a0245dc5c8","display_name":"Jon Doe","email_address":"email_address1"},"expense_category_ref":{"id":"49220c94-8994-4205-90f4-c0a0245dc5c8","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},"task_code":"task_code1","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Expenses"],"operationId":"Expenses_PostAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Expense"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Expense"},"examples":{"application/json":{"id":"871dd10f-57b1-42d4-9fcb-0b870bb1e6a0","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":2.0,"price":100.0,"amount":200.0,"description":"This is my expense","private_notes":"These are my notes...","account_ref":{"id":"871dd10f-57b1-42d4-9fcb-0b870bb1e6a0","display_name":"Jane Doe"},"matter_ref":{"id":"871dd10f-57b1-42d4-9fcb-0b870bb1e6a0","display_name":"My Matter"},"billed_by_user_ref":{"id":"871dd10f-57b1-42d4-9fcb-0b870bb1e6a0","display_name":"Jon Doe","email_address":"email_address1"},"expense_category_ref":{"id":"871dd10f-57b1-42d4-9fcb-0b870bb1e6a0","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},"task_code":"task_code1","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Expenses"],"operationId":"Expenses_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Expense"},"examples":{"application/json":{"id":"026746f3-147e-48ff-be90-2f22147598cd","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":2.0,"price":100.0,"amount":200.0,"description":"This is my expense","private_notes":"These are my notes...","account_ref":{"id":"026746f3-147e-48ff-be90-2f22147598cd","display_name":"Jane Doe"},"matter_ref":{"id":"026746f3-147e-48ff-be90-2f22147598cd","display_name":"My Matter"},"billed_by_user_ref":{"id":"026746f3-147e-48ff-be90-2f22147598cd","display_name":"Jon Doe","email_address":"email_address1"},"expense_category_ref":{"id":"026746f3-147e-48ff-be90-2f22147598cd","name":"My Expense","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},"task_code":"task_code1","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/files/{id}":{"get":{"tags":["Files"],"operationId":"Files_GetFile","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/File"},"examples":{"application/json":{"id":"00000000-0000-0000-0000-000000000001","account_ref":{"id":"c150afab-6640-4717-8226-1ee9483df836","display_name":"Jane Doe"},"matter_ref":{"id":"c150afab-6640-4717-8226-1ee9483df836","display_name":"My Matter"},"activity_ref":{"id":"c150afab-6640-4717-8226-1ee9483df836","subject":"My Activity"},"description":"A simple image","file_name":"SimpleImage.png","size":1234,"content_type":"image/bmp","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/files/download/{id}":{"get":{"tags":["Files"],"operationId":"Files_DownloadFile","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/File"},"examples":{"application/json":{"id":"00000000-0000-0000-0000-000000000001","account_ref":{"id":"614fad3f-de29-4441-be18-19385d4eb787","display_name":"Jane Doe"},"matter_ref":{"id":"614fad3f-de29-4441-be18-19385d4eb787","display_name":"My Matter"},"activity_ref":{"id":"614fad3f-de29-4441-be18-19385d4eb787","subject":"My Activity"},"description":"A simple image","file_name":"SimpleImage.png","size":1234,"content_type":"image/bmp","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/files/box":{"post":{"tags":["Files"],"operationId":"Files_PostFileToBox","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["full"]}]}},"/api/v2/files":{"get":{"tags":["Files"],"operationId":"Files_GetFiles","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"search_text","in":"query","required":false,"type":"string"},{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"matter_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"activity_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_by_user_id","in":"query","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/File"},"examples":{"application/json":[{"id":"00000000-0000-0000-0000-000000000001","account_ref":{"id":"c81976f0-02ee-4c86-ab43-98edca7a9a4a","display_name":"Jane Doe"},"matter_ref":{"id":"c81976f0-02ee-4c86-ab43-98edca7a9a4a","display_name":"My Matter"},"activity_ref":{"id":"c81976f0-02ee-4c86-ab43-98edca7a9a4a","subject":"My Activity"},"description":"A simple image","file_name":"SimpleImage.png","size":1234,"content_type":"image/bmp","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"00000000-0000-0000-0000-000000000001","account_ref":{"id":"c515aafe-ff4b-4899-92dc-b4108458044e","display_name":"Jane Doe"},"matter_ref":{"id":"c515aafe-ff4b-4899-92dc-b4108458044e","display_name":"My Matter"},"activity_ref":{"id":"c515aafe-ff4b-4899-92dc-b4108458044e","subject":"My Activity"},"description":"A simple image","file_name":"SimpleImage.png","size":1234,"content_type":"image/bmp","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Files"],"operationId":"Files_PutFile","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/File"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/File"},"examples":{"application/json":{"id":"00000000-0000-0000-0000-000000000001","account_ref":{"id":"f6975f9f-ce3f-4b33-b3d5-9e59cffc0878","display_name":"Jane Doe"},"matter_ref":{"id":"f6975f9f-ce3f-4b33-b3d5-9e59cffc0878","display_name":"My Matter"},"activity_ref":{"id":"f6975f9f-ce3f-4b33-b3d5-9e59cffc0878","subject":"My Activity"},"description":"A simple image","file_name":"SimpleImage.png","size":1234,"content_type":"image/bmp","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Files"],"operationId":"Files_PostFile","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/File"}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Files"],"operationId":"Files_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/File"},"examples":{"application/json":{"id":"00000000-0000-0000-0000-000000000001","account_ref":{"id":"4230dff4-fcfa-468e-b7a8-0673ad531fde","display_name":"Jane Doe"},"matter_ref":{"id":"4230dff4-fcfa-468e-b7a8-0673ad531fde","display_name":"My Matter"},"activity_ref":{"id":"4230dff4-fcfa-468e-b7a8-0673ad531fde","subject":"My Activity"},"description":"A simple image","file_name":"SimpleImage.png","size":1234,"content_type":"image/bmp","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/flatfees/{id}":{"get":{"tags":["FlatFees"],"operationId":"FlatFees_GetFlatFee","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlatFee"},"examples":{"application/json":{"id":"eaa0d762-abdf-4b86-946a-0a20ed2fdc11","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":1.0,"price":1.0,"description":"description1","private_notes":"private_notes1","account_ref":{"id":"eaa0d762-abdf-4b86-946a-0a20ed2fdc11","display_name":"Jane Doe"},"matter_ref":{"id":"eaa0d762-abdf-4b86-946a-0a20ed2fdc11","display_name":"My Matter"},"billed_by_user_ref":{"id":"eaa0d762-abdf-4b86-946a-0a20ed2fdc11","display_name":"Jon Doe","email_address":"email_address1"},"item_ref":{"id":"eaa0d762-abdf-4b86-946a-0a20ed2fdc11","name":"name1"},"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/flatfees":{"get":{"tags":["FlatFees"],"operationId":"FlatFees_GetFlatFees","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"matter_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"item_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_to","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlatFee"},"examples":{"application/json":[{"id":"13d91575-f599-434b-a6b6-beb891db8ba1","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":1.0,"price":1.0,"description":"description1","private_notes":"private_notes1","account_ref":{"id":"13d91575-f599-434b-a6b6-beb891db8ba1","display_name":"Jane Doe"},"matter_ref":{"id":"13d91575-f599-434b-a6b6-beb891db8ba1","display_name":"My Matter"},"billed_by_user_ref":{"id":"13d91575-f599-434b-a6b6-beb891db8ba1","display_name":"Jon Doe","email_address":"email_address1"},"item_ref":{"id":"13d91575-f599-434b-a6b6-beb891db8ba1","name":"name1"},"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"035879c1-697b-4999-85e7-c4b88d02246e","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":1.0,"price":1.0,"description":"description1","private_notes":"private_notes1","account_ref":{"id":"035879c1-697b-4999-85e7-c4b88d02246e","display_name":"Jane Doe"},"matter_ref":{"id":"035879c1-697b-4999-85e7-c4b88d02246e","display_name":"My Matter"},"billed_by_user_ref":{"id":"035879c1-697b-4999-85e7-c4b88d02246e","display_name":"Jon Doe","email_address":"email_address1"},"item_ref":{"id":"035879c1-697b-4999-85e7-c4b88d02246e","name":"name1"},"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["FlatFees"],"operationId":"FlatFees_PutAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/FlatFee"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlatFee"},"examples":{"application/json":{"id":"e888793d-c121-48dd-b18e-cb73118bd5f9","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":1.0,"price":1.0,"description":"description1","private_notes":"private_notes1","account_ref":{"id":"e888793d-c121-48dd-b18e-cb73118bd5f9","display_name":"Jane Doe"},"matter_ref":{"id":"e888793d-c121-48dd-b18e-cb73118bd5f9","display_name":"My Matter"},"billed_by_user_ref":{"id":"e888793d-c121-48dd-b18e-cb73118bd5f9","display_name":"Jon Doe","email_address":"email_address1"},"item_ref":{"id":"e888793d-c121-48dd-b18e-cb73118bd5f9","name":"name1"},"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["FlatFees"],"operationId":"FlatFees_PostAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/FlatFee"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlatFee"},"examples":{"application/json":{"id":"575f72cb-9750-4b79-9874-01e7075b483d","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":1.0,"price":1.0,"description":"description1","private_notes":"private_notes1","account_ref":{"id":"575f72cb-9750-4b79-9874-01e7075b483d","display_name":"Jane Doe"},"matter_ref":{"id":"575f72cb-9750-4b79-9874-01e7075b483d","display_name":"My Matter"},"billed_by_user_ref":{"id":"575f72cb-9750-4b79-9874-01e7075b483d","display_name":"Jon Doe","email_address":"email_address1"},"item_ref":{"id":"575f72cb-9750-4b79-9874-01e7075b483d","name":"name1"},"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["FlatFees"],"operationId":"FlatFees_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlatFee"},"examples":{"application/json":{"id":"04923923-8944-4668-85f0-85cb9d250af9","is_billable":false,"is_billed":false,"date":"2026-04-04T00:00:00","qty":1.0,"price":1.0,"description":"description1","private_notes":"private_notes1","account_ref":{"id":"04923923-8944-4668-85f0-85cb9d250af9","display_name":"Jane Doe"},"matter_ref":{"id":"04923923-8944-4668-85f0-85cb9d250af9","display_name":"My Matter"},"billed_by_user_ref":{"id":"04923923-8944-4668-85f0-85cb9d250af9","display_name":"Jon Doe","email_address":"email_address1"},"item_ref":{"id":"04923923-8944-4668-85f0-85cb9d250af9","name":"name1"},"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/invoices/{id}":{"get":{"tags":["Invoices"],"operationId":"Invoices_GetInvoice","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Invoice"},"examples":{"application/json":{"account_ref":{"id":"6fa373c0-32b8-497b-a139-2b9897ceb28c","display_name":"Jane Doe"},"matter_ref":{"id":"6fa373c0-32b8-497b-a139-2b9897ceb28c","display_name":"My Matter"},"id":"6fa373c0-32b8-497b-a139-2b9897ceb28c","issue_date":"2026-04-04T00:00:00","due_date":"2026-04-04T00:00:00","items_time_entries":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"items_expenses":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"items_flat_fees":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"subtotal":109.0,"tax":1.0,"discount":10.0,"total":100.0,"total_paid":50.0,"total_outstanding":50.0,"invoice_type":"Credit","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/invoices":{"get":{"tags":["Invoices"],"operationId":"Invoices_GetInvoices","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"matter_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_to","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Invoice"},"examples":{"application/json":[{"account_ref":{"id":"c27222f3-e889-475d-b99d-a9eb4dbb3087","display_name":"Jane Doe"},"matter_ref":{"id":"c27222f3-e889-475d-b99d-a9eb4dbb3087","display_name":"My Matter"},"id":"c27222f3-e889-475d-b99d-a9eb4dbb3087","issue_date":"2026-04-04T00:00:00","due_date":"2026-04-04T00:00:00","items_time_entries":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"items_expenses":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"items_flat_fees":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"subtotal":109.0,"tax":1.0,"discount":10.0,"total":100.0,"total_paid":50.0,"total_outstanding":50.0,"invoice_type":"Credit","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"account_ref":{"id":"d7b17107-94c0-4057-805a-fcd9139b3e38","display_name":"Jane Doe"},"matter_ref":{"id":"d7b17107-94c0-4057-805a-fcd9139b3e38","display_name":"My Matter"},"id":"d7b17107-94c0-4057-805a-fcd9139b3e38","issue_date":"2026-04-04T00:00:00","due_date":"2026-04-04T00:00:00","items_time_entries":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"items_expenses":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"items_flat_fees":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"subtotal":109.0,"tax":1.0,"discount":10.0,"total":100.0,"total_paid":50.0,"total_outstanding":50.0,"invoice_type":"Credit","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Invoices"],"operationId":"Invoices_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Invoice"},"examples":{"application/json":{"account_ref":{"id":"fa260761-f19e-49d0-88a0-b0b7748e791e","display_name":"Jane Doe"},"matter_ref":{"id":"fa260761-f19e-49d0-88a0-b0b7748e791e","display_name":"My Matter"},"id":"fa260761-f19e-49d0-88a0-b0b7748e791e","issue_date":"2026-04-04T00:00:00","due_date":"2026-04-04T00:00:00","items_time_entries":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"items_expenses":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"items_flat_fees":[{"quantity":1.0,"rate":1.0,"discount":10.0,"subtotal":1.0,"tax1_name":"tax1_name1","tax1_rate":"tax1_rate1","tax1_amount":1.0,"tax2_name":"tax2_name1","tax2_rate":"tax2_rate1","tax2_amount":1.0,"total":1.0,"date":"2026-04-04T00:00:00","billed_by":"John Doe","item_name":"item_name1","item_description":"item_description1"}],"subtotal":109.0,"tax":1.0,"discount":10.0,"total":100.0,"total_paid":50.0,"total_outstanding":50.0,"invoice_type":"Credit","created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/Items/{id}":{"get":{"tags":["Items"],"operationId":"Items_GetItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"},"examples":{"application/json":{"id":"2c68493b-4034-4f5f-ac50-7d7e6f7e6818","name":"name1","code":"code1","description":"description1","rate":1.0,"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/Items":{"get":{"tags":["Items"],"operationId":"Items_GetItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"},"examples":{"application/json":[{"id":"c9034139-9514-48f8-9ec4-1cea5d6f60f8","name":"name1","code":"code1","description":"description1","rate":1.0,"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"2829b32e-32cd-4500-b85b-3b94c7a5c787","name":"name1","code":"code1","description":"description1","rate":1.0,"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Items"],"operationId":"Items_PutItem","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Item"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"},"examples":{"application/json":{"id":"ccea592d-4bc7-42c0-8a7a-08be102a5d4a","name":"name1","code":"code1","description":"description1","rate":1.0,"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Items"],"operationId":"Items_PostItem","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Item"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"},"examples":{"application/json":{"id":"b6f46f9a-9b3b-4523-998c-65913ef312d6","name":"name1","code":"code1","description":"description1","rate":1.0,"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Items"],"operationId":"Items_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"},"examples":{"application/json":{"id":"ae21627f-b3d5-4dc5-9ce2-0d5c5ce7a534","name":"name1","code":"code1","description":"description1","rate":1.0,"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/matters/{id}":{"get":{"tags":["Matters"],"operationId":"Matters_GetMatter","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Matter"},"examples":{"application/json":{"id":"13e46b82-50ab-41e4-9e65-8aba3b2ea78e","account_ref":{"id":"13e46b82-50ab-41e4-9e65-8aba3b2ea78e","display_name":"Jane Doe"},"number":1,"display_name":"display_name1","name":"name1","notes":"notes1","rate":"rate1","open_date":"2026-04-04T00:00:00","close_date":"2026-04-04T00:00:00","statute_of_limitation_date":"2026-04-04T00:00:00","tags":["My Tag 1","My Tag 2"],"status":"Closed","assigned_to_users":[{"id":"13e46b82-50ab-41e4-9e65-8aba3b2ea78e","display_name":"Jon Doe","email_address":"email_address1"}],"custom_field_values":[{"custom_field_ref":{"id":"13e46b82-50ab-41e4-9e65-8aba3b2ea78e","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"13e46b82-50ab-41e4-9e65-8aba3b2ea78e","display_name":"Jane Doe"},"id":"13e46b82-50ab-41e4-9e65-8aba3b2ea78e","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/matters":{"get":{"tags":["Matters"],"operationId":"Matters_GetMatters","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"assigned_to_user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"status","in":"query","required":false,"type":"string","enum":["Closed","Pending","Open","Archived"]},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"search_text","in":"query","required":false,"type":"string"},{"name":"account_tag","in":"query","required":false,"type":"string"},{"name":"matter_tag","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Matter"},"examples":{"application/json":[{"id":"456c1da1-0e9d-41e6-9e38-dab025651706","account_ref":{"id":"456c1da1-0e9d-41e6-9e38-dab025651706","display_name":"Jane Doe"},"number":1,"display_name":"display_name1","name":"name1","notes":"notes1","rate":"rate1","open_date":"2026-04-04T00:00:00","close_date":"2026-04-04T00:00:00","statute_of_limitation_date":"2026-04-04T00:00:00","tags":["My Tag 1","My Tag 2"],"status":"Closed","assigned_to_users":[{"id":"456c1da1-0e9d-41e6-9e38-dab025651706","display_name":"Jon Doe","email_address":"email_address1"}],"custom_field_values":[{"custom_field_ref":{"id":"456c1da1-0e9d-41e6-9e38-dab025651706","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"456c1da1-0e9d-41e6-9e38-dab025651706","display_name":"Jane Doe"},"id":"456c1da1-0e9d-41e6-9e38-dab025651706","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"045365a1-af25-440c-9cb7-0927163b23e0","account_ref":{"id":"045365a1-af25-440c-9cb7-0927163b23e0","display_name":"Jane Doe"},"number":1,"display_name":"display_name1","name":"name1","notes":"notes1","rate":"rate1","open_date":"2026-04-04T00:00:00","close_date":"2026-04-04T00:00:00","statute_of_limitation_date":"2026-04-04T00:00:00","tags":["My Tag 1","My Tag 2"],"status":"Closed","assigned_to_users":[{"id":"045365a1-af25-440c-9cb7-0927163b23e0","display_name":"Jon Doe","email_address":"email_address1"}],"custom_field_values":[{"custom_field_ref":{"id":"045365a1-af25-440c-9cb7-0927163b23e0","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"045365a1-af25-440c-9cb7-0927163b23e0","display_name":"Jane Doe"},"id":"045365a1-af25-440c-9cb7-0927163b23e0","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Matters"],"operationId":"Matters_PutAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Matter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Matter"},"examples":{"application/json":{"id":"6237f927-f3c0-4968-839a-b8a1dcf16563","account_ref":{"id":"6237f927-f3c0-4968-839a-b8a1dcf16563","display_name":"Jane Doe"},"number":1,"display_name":"display_name1","name":"name1","notes":"notes1","rate":"rate1","open_date":"2026-04-04T00:00:00","close_date":"2026-04-04T00:00:00","statute_of_limitation_date":"2026-04-04T00:00:00","tags":["My Tag 1","My Tag 2"],"status":"Closed","assigned_to_users":[{"id":"6237f927-f3c0-4968-839a-b8a1dcf16563","display_name":"Jon Doe","email_address":"email_address1"}],"custom_field_values":[{"custom_field_ref":{"id":"6237f927-f3c0-4968-839a-b8a1dcf16563","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"6237f927-f3c0-4968-839a-b8a1dcf16563","display_name":"Jane Doe"},"id":"6237f927-f3c0-4968-839a-b8a1dcf16563","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Matters"],"operationId":"Matters_PostAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Matter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Matter"},"examples":{"application/json":{"id":"ff41b44f-f01d-4f00-9215-e215bc60bc7c","account_ref":{"id":"ff41b44f-f01d-4f00-9215-e215bc60bc7c","display_name":"Jane Doe"},"number":1,"display_name":"display_name1","name":"name1","notes":"notes1","rate":"rate1","open_date":"2026-04-04T00:00:00","close_date":"2026-04-04T00:00:00","statute_of_limitation_date":"2026-04-04T00:00:00","tags":["My Tag 1","My Tag 2"],"status":"Closed","assigned_to_users":[{"id":"ff41b44f-f01d-4f00-9215-e215bc60bc7c","display_name":"Jon Doe","email_address":"email_address1"}],"custom_field_values":[{"custom_field_ref":{"id":"ff41b44f-f01d-4f00-9215-e215bc60bc7c","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"ff41b44f-f01d-4f00-9215-e215bc60bc7c","display_name":"Jane Doe"},"id":"ff41b44f-f01d-4f00-9215-e215bc60bc7c","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Matters"],"operationId":"Matters_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Matter"},"examples":{"application/json":{"id":"515120be-9b26-4a55-8b9c-26adb5fea497","account_ref":{"id":"515120be-9b26-4a55-8b9c-26adb5fea497","display_name":"Jane Doe"},"number":1,"display_name":"display_name1","name":"name1","notes":"notes1","rate":"rate1","open_date":"2026-04-04T00:00:00","close_date":"2026-04-04T00:00:00","statute_of_limitation_date":"2026-04-04T00:00:00","tags":["My Tag 1","My Tag 2"],"status":"Closed","assigned_to_users":[{"id":"515120be-9b26-4a55-8b9c-26adb5fea497","display_name":"Jon Doe","email_address":"email_address1"}],"custom_field_values":[{"custom_field_ref":{"id":"515120be-9b26-4a55-8b9c-26adb5fea497","label":"My Label","value_type":"TextBox"},"value_boolean":false,"contact_ref":{"account_ref":{"id":"515120be-9b26-4a55-8b9c-26adb5fea497","display_name":"Jane Doe"},"id":"515120be-9b26-4a55-8b9c-26adb5fea497","display_name":"John Doe"},"value_date_time":"2026-04-04T00:00:00","value_number":123.0,"value_string":"Custom Field Value"}],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/messages":{"get":{"tags":["Messages"],"operationId":"Messages_GetMessagesAsync","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"},"examples":{"application/json":[{"id":"00000000-0000-0000-0000-000000000000","sender":{"id":"2e404bb7-4993-4ef5-afd0-4de80d293201","display_name":"Jon Doe","email_address":"email_address1"},"contact_id":"46cde4d5-f301-464f-9ff6-9a7fe0301d30","contact":{"account_ref":{"id":"2e404bb7-4993-4ef5-afd0-4de80d293201","display_name":"Jane Doe"},"id":"2e404bb7-4993-4ef5-afd0-4de80d293201","display_name":"John Doe"},"created_at":"2026-04-04T06:20:36.3934413Z","updated_at":"2026-04-04T06:20:36.3934413Z","type":"Text","matter_id":"00000000-0000-0000-0000-000000000001","account_id":"4c118115-1d67-4376-a1ae-3979ca83c0f4","subject":"Message subject...","body":"Message body...","sent_date":"2026-04-04T06:20:36.3934413Z","conversation_id":"00000000-0000-0000-0000-000000000000","external_conversation_id":"00000000-0000-0000-0000-000000000000","firm_text_phone_number":"1234567890","firm_location_name":"Message FirmLocationName...","user_name":"Message UserName...","user_email":"user@email.com","sent_by_contact":false},{"id":"00000000-0000-0000-0000-000000000000","sender":{"id":"5d53c1f8-d40c-4137-b17e-02f4780af449","display_name":"Jon Doe","email_address":"email_address1"},"contact_id":"1f097a5b-a115-4ab1-bca0-ebf348e54762","contact":{"account_ref":{"id":"5d53c1f8-d40c-4137-b17e-02f4780af449","display_name":"Jane Doe"},"id":"5d53c1f8-d40c-4137-b17e-02f4780af449","display_name":"John Doe"},"created_at":"2026-04-04T06:20:36.3934413Z","updated_at":"2026-04-04T06:20:36.3934413Z","type":"Text","matter_id":"00000000-0000-0000-0000-000000000001","account_id":"c8dff030-4d2c-4236-b55d-7bc727bfa910","subject":"Message subject...","body":"Message body...","sent_date":"2026-04-04T06:20:36.3934413Z","conversation_id":"00000000-0000-0000-0000-000000000000","external_conversation_id":"00000000-0000-0000-0000-000000000000","firm_text_phone_number":"1234567890","firm_location_name":"Message FirmLocationName...","user_name":"Message UserName...","user_email":"user@email.com","sent_by_contact":false}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Messages"],"operationId":"Messages_PutMessage","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"message","in":"body","required":true,"schema":{"$ref":"#/definitions/Message"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"},"examples":{"application/json":{"id":"00000000-0000-0000-0000-000000000000","sender":{"id":"19d35542-9449-498b-b2c4-53b3144273c9","display_name":"Jon Doe","email_address":"email_address1"},"contact_id":"1bb4570e-273d-436b-93bd-9b6cc4f04d28","contact":{"account_ref":{"id":"19d35542-9449-498b-b2c4-53b3144273c9","display_name":"Jane Doe"},"id":"19d35542-9449-498b-b2c4-53b3144273c9","display_name":"John Doe"},"created_at":"2026-04-04T06:20:36.3934413Z","updated_at":"2026-04-04T06:20:36.3934413Z","type":"Text","matter_id":"00000000-0000-0000-0000-000000000001","account_id":"7ca0b98c-5444-4d93-a841-1592f400488e","subject":"Message subject...","body":"Message body...","sent_date":"2026-04-04T06:20:36.3934413Z","conversation_id":"00000000-0000-0000-0000-000000000000","external_conversation_id":"00000000-0000-0000-0000-000000000000","firm_text_phone_number":"1234567890","firm_location_name":"Message FirmLocationName...","user_name":"Message UserName...","user_email":"user@email.com","sent_by_contact":false}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Messages"],"operationId":"Messages_PostMessage","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"message","in":"body","required":true,"schema":{"$ref":"#/definitions/Message"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"},"examples":{"application/json":{"id":"00000000-0000-0000-0000-000000000000","sender":{"id":"3fc3e4a2-d987-4f8f-b108-65edea8dc668","display_name":"Jon Doe","email_address":"email_address1"},"contact_id":"e252c4f1-59b6-457b-8bd5-ab7f9a61e263","contact":{"account_ref":{"id":"3fc3e4a2-d987-4f8f-b108-65edea8dc668","display_name":"Jane Doe"},"id":"3fc3e4a2-d987-4f8f-b108-65edea8dc668","display_name":"John Doe"},"created_at":"2026-04-04T06:20:36.3934413Z","updated_at":"2026-04-04T06:20:36.3934413Z","type":"Text","matter_id":"00000000-0000-0000-0000-000000000001","account_id":"4e354660-a375-41af-add1-2b3f7a56e66a","subject":"Message subject...","body":"Message body...","sent_date":"2026-04-04T06:20:36.3934413Z","conversation_id":"00000000-0000-0000-0000-000000000000","external_conversation_id":"00000000-0000-0000-0000-000000000000","firm_text_phone_number":"1234567890","firm_location_name":"Message FirmLocationName...","user_name":"Message UserName...","user_email":"user@email.com","sent_by_contact":false}}}},"security":[{"oauth2":["full"]}]},"delete":{"tags":["Messages"],"operationId":"Messages_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Message"},"examples":{"application/json":{"id":"00000000-0000-0000-0000-000000000000","sender":{"id":"6a66c4bb-d9e1-4576-90f7-b4a32edc6019","display_name":"Jon Doe","email_address":"email_address1"},"contact_id":"24badfd4-231e-48bb-bf33-0dabfe87c097","contact":{"account_ref":{"id":"6a66c4bb-d9e1-4576-90f7-b4a32edc6019","display_name":"Jane Doe"},"id":"6a66c4bb-d9e1-4576-90f7-b4a32edc6019","display_name":"John Doe"},"created_at":"2026-04-04T06:20:36.3934413Z","updated_at":"2026-04-04T06:20:36.3934413Z","type":"Text","matter_id":"00000000-0000-0000-0000-000000000001","account_id":"c6493fa7-23bb-4564-8c53-51a081e5959a","subject":"Message subject...","body":"Message body...","sent_date":"2026-04-04T06:20:36.3934413Z","conversation_id":"00000000-0000-0000-0000-000000000000","external_conversation_id":"00000000-0000-0000-0000-000000000000","firm_text_phone_number":"1234567890","firm_location_name":"Message FirmLocationName...","user_name":"Message UserName...","user_email":"user@email.com","sent_by_contact":false}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/notes/{id}":{"get":{"tags":["Notes"],"operationId":"Notes_GetNote","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Note"},"examples":{"application/json":{"id":"ad0dc95a-f1bb-4628-a47a-2afd9550ba9f","account_ref":{"id":"ad0dc95a-f1bb-4628-a47a-2afd9550ba9f","display_name":"Jane Doe"},"matter_ref":{"id":"ad0dc95a-f1bb-4628-a47a-2afd9550ba9f","display_name":"My Matter"},"subject":"Note subject...","note":"These are my notes...","assigned_to_users":[{"id":"ad0dc95a-f1bb-4628-a47a-2afd9550ba9f","display_name":"Jon Doe","email_address":"email_address1"}],"date":"2026-04-04T06:20:36.3934413+00:00","tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]}},"/api/v2/notes":{"get":{"tags":["Notes"],"operationId":"Notes_GetNotes","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"assigned_to_user_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"account_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"matter_id","in":"query","required":false,"type":"string","format":"uuid"},{"name":"created_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"updated_since","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_to","in":"query","required":false,"type":"string","format":"date-time"},{"name":"activity_tag","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Note"},"examples":{"application/json":[{"id":"5b1effbb-9e41-4708-b1df-25833bb15d3a","account_ref":{"id":"5b1effbb-9e41-4708-b1df-25833bb15d3a","display_name":"Jane Doe"},"matter_ref":{"id":"5b1effbb-9e41-4708-b1df-25833bb15d3a","display_name":"My Matter"},"subject":"Note subject...","note":"These are my notes...","assigned_to_users":[{"id":"5b1effbb-9e41-4708-b1df-25833bb15d3a","display_name":"Jon Doe","email_address":"email_address1"}],"date":"2026-04-04T06:20:36.4090012+00:00","tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"},{"id":"c20553cf-6c3a-4ce6-9f53-aa473ff51907","account_ref":{"id":"c20553cf-6c3a-4ce6-9f53-aa473ff51907","display_name":"Jane Doe"},"matter_ref":{"id":"c20553cf-6c3a-4ce6-9f53-aa473ff51907","display_name":"My Matter"},"subject":"Note subject...","note":"These are my notes...","assigned_to_users":[{"id":"c20553cf-6c3a-4ce6-9f53-aa473ff51907","display_name":"Jon Doe","email_address":"email_address1"}],"date":"2026-04-04T06:20:36.4090012+00:00","tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}]}}},"security":[{"oauth2":["full"]}]},"put":{"tags":["Notes"],"operationId":"Notes_PutNote","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string","format":"uuid"},{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Note"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Note"},"examples":{"application/json":{"id":"6f84bc7d-8960-40c3-b5a9-1507e57acecd","account_ref":{"id":"6f84bc7d-8960-40c3-b5a9-1507e57acecd","display_name":"Jane Doe"},"matter_ref":{"id":"6f84bc7d-8960-40c3-b5a9-1507e57acecd","display_name":"My Matter"},"subject":"Note subject...","note":"These are my notes...","assigned_to_users":[{"id":"6f84bc7d-8960-40c3-b5a9-1507e57acecd","display_name":"Jon Doe","email_address":"email_address1"}],"date":"2026-04-04T06:20:36.4090012+00:00","tags":["My Tag 1","My Tag 2"],"created_at":"2026-04-04T00:00:00","updated_at":"2026-04-04T00:00:00"}}}},"security":[{"oauth2":["full"]}]},"post":{"tags":["Notes"],"operationId":"Notes_PostNote","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/Note"}}],"responses":{"200":{
[...]
